.bread-cont {
    justify-content: space-between;
    align-items: center;
}


.bread-cont h2 {
    color: #313b50;
    font-size: 15px;
    font-weight: 600;
}

.breadcrumb a {
    text-decoration: none;
    color: #313b50;
}

.breadcrumb ol {
    list-style-type: none;
}

.breadcrumb li {
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb .active {
    color: #777;
}


/* start aboutus content */

.row1-img1 {
    max-width: 370px;
}

.row1-img2 {
    max-width: 370px;
}

.row2-img1 {
    max-width: 370px;
}

.row2-img2 {
    max-width: 370px;
}

.row1-img img {
    width: 100%;
}

.row2-img img {
    width: 100%;
}

.right-side {
    height: 100%;
}

.header-right h2 {
    font-size: 26px;
    font-weight: 600;
    color: #3a4ee5;
}

.header-right h2 span {
    color: #313b50;

}

.header-right p {
    color: #777;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.right-content p {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

/* end aboutus content */


/* start info */

.count-vendor .counter {
    font-size: 40px;
    font-weight: 800;
    color: #ddd;
}

.info-content h4 {
    font-size: 20px;
    color: #313b50;
    font-weight: 600;
}

.info-content p {
    font-size: 14px;
    color: #777;
    line-height: 28px;
}





/* end info */



/*start team*/


.our-team-header h2 {
    font-size: 20px;
    font-weight: 700;
    color: #313b50;
    position: relative;
}

.our-team-header span {
    color: #3a4ee5;
}

.our-team-header h2 ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    bottom: -8px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #7b8592;
    opacity: 0.2;
}

.team-img {
    max-width: 250px;
}

.team-img img {
    width: 100%;
}

.team-info h5 {
    color: #313b50;
    font-size: 18px;
    font-weight: 700;
}

.team-card:hover .team-icons {
    opacity: 1;
}

.team-info p {
    color: #777;
    font-size: 13px;
}

.team-icons {
    transform: translateX(50%);
    bottom: 10%;
    opacity: 0;
    transition: all .5s;
}

.team-icons a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #313b50;
    transition: all .5s;
}

.team-icons a:hover {
    background-color: #ffd783;
}

.team-icons a:hover svg path {
    fill: #313b50;
}




@media screen and (min-width:992px) and (max-width:1399px) {
    .team-icons {
        transform: translateX(76%);

    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .team-icons {
        transform: translateX(60%);

    }
}

@media screen and (max-width:767px) {
    .team-icons {
        transform: translateX(76%);

    }
}

/*start team*/