.bread-cont {
    justify-content: space-between;
    align-items: center;
}


.bread-cont h2 {
    color: #313b50;
    font-size: 15px;
    font-weight: 600;
}

.breadcrumb a {
    text-decoration: none;
    color: #313b50;
}

.breadcrumb ol {
    list-style-type: none;
}

.breadcrumb li {
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb .active {
    color: #777;
}



.accordion-button {
    background-color: #e1e5e9;
    color: #313b50;
    font-size: 16px;

    font-weight: 500;
}

.accordion-body {
    background-color: #f1f4f7;
    font-size: 14px;
    color: #777;

}

.accordion-item {
    border: none;
}

code {
    font-size: .875em;
    color: #ffd783;
    word-wrap: break-word;
}

.accordion-button:not(.collapsed) {
    color: #313b50;
    background-color: #e1e5e9;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}