body {
    background-color: #f1f4f7;
    font-family: var(--mainFont);
}

.bread-cont{
    justify-content: space-between;
    align-items: center;
}



.bread-cont h2 {
    color: #313b50;
    font-size: 15px;
    font-weight: 600;
}

.breadcrumb a {
    text-decoration: none;
    color: #313b50;
}

.breadcrumb ol {
    list-style-type:none;
}

.breadcrumb li {
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb .active {
        color: #777;
}

form{
    width: 75%;
}

.in-lbl label {
        color: #313b50;
    font-size: 14px;
    font-weight: 500;
}

.in-lbl input {
        color: #777;
    font-size: 14px;
}
.in-lbl select {
        color: #777;
    font-size: 14px;
}

.login-img img {
    width: 550px;
    height: 350px;
    
}


.form-check-label {
    font-size: 15px;
    color: #999;
}

.remember-forgot{
    justify-content: space-between;
    align-items: center;
}

.forgot a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    transition: all .5s;
}

.forgot a:hover{
    color:#3a4ee5;
}

.create-login{
    justify-content: space-between;
    align-items: center;
}

.create-login a:hover{
    color: #3a4ee5;;
}
.create-login a {
    text-decoration: none;
    color: #313b50;;
    transition: all .5s;
}

.login-btn input {
    color: #313b50;;
    transition: all .5s;
}
.login-btn input:hover {
    background-color: #3a4ee5;
    color: #fff;
}

.lgn-btn {
    font-size: 14px;
    color: #313b50;
    background-color: #ffd783;
    border: none;
    transition: all .5s;
}

.lgn-img {
    display:flex ;
}

@media screen and (max-width:991px) {

    form{
        width: 100%;
    }

    .lgn-img{
        display: none;
    }
}

@media screen and (max-width:575px) {
    .create-login{
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
}

@media screen and (max-width:767px) {
    .bread-cont{
        flex-direction: column;
       justify-content:center;
    
}
}

@media screen and (max-width:365px) {
    .remember-forgot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}