:root {
    --mainFont: "Poppins", sans-serif;
    --textcolor: #545454;


}

body {
    background-color: #f1f4f7;
    font-family: var(--mainFont);
}

ul {
    list-style-type: none;
}

/* start navbar section */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link {
    transition: all .6s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #3a4ee5;
}

.navbar-nav .nav-item .nav-link:hover svg path {
    fill: #3a4ee5;
}


.dropdown-item {
    color: var(--textcolor);
    transition: all .6s;
}

.dropdown-item:hover {
    color: #3a4ee5;
}

.offcanvas-body input {
    font-size: 14px;
    outline: none;
    border: 1px solid var(--textcolor);
}

.offcanvas-body .srch-btn {
    border: none;
    outline: none;
    background-color: #fff;
    top: 17px;
    right: -10px;
}

.srch-product img {
    width: 85px;
    height: 95px;
}

.srch-product {
    border: 1px solid #eee;
}

.srch-product a {
    text-decoration: none;
}

.srch-product .prod-header {
    color: #313b50;
    font-weight: 500;
    font-size: 15px;
}

.srch-product .prod-category {
    font-size: 13px;
    color: #777;
}

.fav-product img {
    width: 60px;
    height: 70px;
}

.cart-product img {
    width: 70px;
    height: 80px;
}

.fav-product {
    border: 1px solid #eee;
}

.cart-product {
    border: 1px solid #eee;
}

.fav-product a {
    text-decoration: none;
}

.cart-product a {
    text-decoration: none;
}

.fav-product .prod-header {
    color: #313b50;
    font-weight: 500;
    font-size: 15px;
}

.cart-product .prod-header {
    color: #313b50;
    font-weight: 500;
    font-size: 15px;
}

.fav-product .prod-category {
    font-size: 13px;
    color: #777;
}

.badge-fav {
    top: 9px;
    left: 30px;
    width: 20px;
    height: 20px;
}

.cart-product .prod-category {
    font-size: 13px;
    color: #777;
}

.product-price .price {
    color: #777;
    font-weight: 600;
    font-size: 15px;
}

.product-price .in-stock {
    margin-left: 10px;
    color: #3a4ee5;
    font-weight: 400;
    font-size: 11px;
}

.cart-product .in-stock {
    margin-left: 10px;
    color: #777;
    font-weight: 400;
    font-size: 14px;

}



.srch-product .remove-prod {
    top: 1px;
    right: 10px;
    padding: 0 0 0 10px;
    color: #999;
    font-size: 20px;


}

.fav-product .remove-prod {
    top: 1px;
    right: 10px;
    padding: 0 0 0 10px;
    color: #999;
    font-size: 20px;


}

.cart-product .remove-prod {
    top: 1px;
    right: 10px;
    padding: 0 0 0 10px;
    color: #999;
    font-size: 20px;


}

svg path {
    transition: all .6s;
}

.srch-product .remove-prod:hover svg path {
    fill: red;
}

.fav-product .remove-prod:hover svg path {
    fill: red;
}

.cart-product .remove-prod:hover svg path {
    fill: red;
}

.inc-dec {
    width: 80px;
}

.inc-dec span {
    color: #777;

    font-size: 13px;

    font-weight: 400;
}

.inc-btn,
.dec-btn {
    border: none;
    background-color: #fff;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    box-sizing: border-box;

}

.inc-btn {
    top: 3px;
    right: 5px;
}

.dec-btn {
    top: 3px;
    left: 5px;
}

.recent-srch {
    color: #313b50;
    font-weight: 600;
}

.recent-prod-srch {
    margin-top: 20px;
}

.recent-prod-srch a {
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: #313b50;
    font-size: 14px;
    transition: all 0.6s;
}

.recent-prod-srch a:hover {
    border: 1px solid #3a4ee5;
    color: #3a4ee5;
}

.crt-btn {
    transition: all .6s;
    position: relative;
}

.chkout-btn {
    transition: all .6s;
    position: relative;
}

.crt-btn::after {
    content: '›';
    font-size: 24px;
    position: absolute;
    top: -2px;
    right: 12px;

}

.chkout-btn::after {
    content: '›';
    font-size: 24px;
    position: absolute;
    top: -2px;
    right: 12px;

}

.crt-btn:hover {
    background-color: #3a4ee5;
    color: #fff;
}

.chkout-btn:hover {
    background-color: #ffd783;
    color: #313b50;
}


.identify-price a {
    text-decoration: none;
    color: #313b50;
    background-color: #ffd783;
    font-size: 16px;
    font-weight: 500;

}

.identify-price span {
    font-size: 16px;
    font-weight: 500;
    color: #313b50;
}

.prices {
    font-size: 16px;
    font-weight: 500;
    color: #313b50;
}



.prices a {
    background-color: #3a4ee5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}





/* end navbar section */



/* start footer section */

footer .container {
    background-color: #181e28;
}

.footer-logo img {
    width: 150px;

}

.apple img {
    width: 150px;
    height: 45px;
}

.android img {
    max-width: 150px;
    height: 45px;
}



.footer-list h4 {
    color: #b9c2d0;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.footer-list .list-header h4::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    bottom: -8px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #7b8592;
    opacity: 0.2;

}


.footer-para {
    font-size: 15px;
    font-weight: 400;
    color: #7b8592;
}

.f-list a {
    text-decoration: none;
    font-size: 16px;
    color: #7b8592;
    font-weight: 400;
}

.f-list p {

    font-size: 14px;
    color: #7b8592;
    font-weight: 400;
}

.cpy-right span {
    color: #7b8592;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}

.cpy-right a {
    text-decoration: none;
    color: #ffd783;
}



.rights-payments {
    position: relative;

}


.rights-payments::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    border-bottom: 1px solid #7b8592;
    opacity: 0.2;

}

.c-icon {
    width: 30px;
    height: 30px;
    background-color: #4b5966;
    transition: all .6s;
}

.c-icon:hover svg path {
    fill: #181e28;
}

.c-icon:hover {
    background-color: #ffd783;
}

.list-body a {
    transition: all .6s;
}

.list-body a:hover {
    color: #ffd783;
}

@media screen and (min-width:992px) {
    .drop-down-responsive {
        display: none;
    }
}

@media screen and (max-width:991px) {

    .rights-payments {
        flex-direction: column;
        gap: 15px;
    }

    .right-side {
        display: none;
    }
}

/* end footer section */



/* start offers section */

.offer {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.offer h3 {
    font-size: 18px;
    font-weight: 500;
    color: #313b50;
    font-family: "Poppins", sans-serif;
}

.offer p {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


/* end offers section */


/* start testimonials section */



.testimonials img {
    width: 100px;
    height: 100px;
}

.testimonials-bg {
    background-color: #e1e5e9;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
}

.testimonials-bg:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/testimonials/bg.webp);
    background-size: cover;
    background-position: bottom;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0.3;
    z-index: 0;
    border-radius: 15px;
}


.testimonial p {
    color: #777;
    font-size: 15px;
    line-height: 26px;
}

.testimonial h2 {
    font-size: 22px;
    font-weight: 600;

    color: #3a4ee5;
}

.testimonial h3 {
    font-size: 13px;
    color: #777;
}

.top-quotes {
    top: -5px;
    left: 0;
    right: auto;
}

.top-quotes img {
    width: 45px;
    height: 45px;
    opacity: 0.5;


}

.bottom-quotes {
    bottom: -5px;
    right: 0;
    left: auto;
}

.bottom-quotes img {
    width: 45px;
    height: 45px;
    opacity: 0.5;

}




/* end testimonials section */




/* start blogs section */


.blogs h2 {
    font-size: 20px;
    color: #313b50;
}

.blogs .blog-header h2 ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    bottom: -8px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #7b8592;
    opacity: 0.2;
}

.blogs span {
    color: #3a4ee5;
}

.blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog a {
    text-decoration: none;
    color: #313b50;
    font-size: 17px;
    font-weight: 500;
}

.carousel-indicators {
    bottom: -51px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #313b50;
    background-color: #f1f4f7;
}

.date-category span {
    font-size: 13px;
    color: #999;
}


.date-category a {
    font-size: 13px;
    color: #999;
    transition: all .6s;
}

.blog .info-blogs h3 a {
    text-decoration: none;
    color: #313b50;
    font-size: 17px;
    font-weight: 500;
    transition: all .6s;
}

.blog .info-blogs h3 a:hover {
    color: #3a4ee5;
}

.blog .info-blogs a {
    color: #3a4ee5;
    font-size: 13px;
}

.date-category a:hover {
    color: #3a4ee5;
}





/* end blogs section */


/* start hero section */

.hero img {
    width: 100%;
}

.carousel-btn {
    bottom: 21%;
    left: 10.6%;
    padding: 7px 12px;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #3a4ee5;
    transition: all .6s;
}

.carousel-btn:hover {
    background-color: #ffd783;
}

.carousel-btn:hover a {
    color: #313b50;
}

.carousel-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .carousel-btn {
        bottom: 19%;
        left: 11.6%;
        padding: 5px 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .carousel-btn {
        bottom: 16%;
        left: 12.2%;
        padding: 3px 10px;
    }




    .carousel-btn a {
        font-size: 11px;
    }
}

@media screen and (min-width:487px) and (max-width:767px) {
    .carousel-btn {
        bottom: 13%;
        left: 12.6%;
        padding: 2px 8px;
    }

    .carousel-btn a {
        font-size: 10px;
    }
}

@media screen and (max-width:486px) {
    .carousel-btn {
        bottom: 7%;
        left: 12.8%;
        padding: 1px 6px;
    }

    .carousel-btn a {
        font-size: 8px;
    }
}


.hero .carousel-indicators {
    background-color: #f1f4f7;
    width: 100px;
    bottom: -42px;
}

@media screen and (max-width:767px) {
    .hero .carousel-indicators {
        background-color: #f1f4f7;
        width: 100px;
        bottom: -50px;
    }
}


/* end hero section */


/* start newarrivals section */

.newarrivals .newarrivals-header h2 {
    font-size: 20px;
    font-weight: 700;
    color: #313b50;
    position: relative;
}

.newarrivals .newarrivals-header span {
    color: #3a4ee5;
}

.newarrivals .newarrivals-header h2 ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    bottom: -8px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #7b8592;
    opacity: 0.2;
}

.newarrivals h3 {
    font-size: 15px;
    font-weight: 500;
    color: #313b50;
}


.newarrivals ul {
    list-style: none;
}

.newarrivals-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.newarr-colors ul {
    list-style: none;
}

.newarr-colors img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.newarr-type-size a {
    text-decoration: none;
    transition: all .5s;
}

.newarr-type-size a:hover {
    color: #3a4ee5;
}

.newarr-type-size a,
.newarr-type-size li {
    font-size: 12px;
    font-weight: 400;
    color: rgb(119, 119, 119);
}

.dark-price {
    font-weight: 700;
}

.light-price {
    color: rgb(153, 153, 153);
}

.newarr-colors .color1 {
    background-image: url(../img/newarrivals/t-shirt-color1.webp);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;


}

.newarr-colors li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(153, 153, 153);
    transition: all .5s;
}

.newarr-colors li:hover {
    border: 1px solid #3a4ee5;
}

.newarr-colors .color2 {
    background-image: url(../img/newarrivals/t-shirt-color2.webp);
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color3 {
    background-color: #8deda1;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color3-shoe {
    background-color: #3e3e3e;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color3-top {
    background-color: #f1f4f7;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color3-belt {
    background-color: #dda17c;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color3-leabag {
    background-color: #c57a78;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color4 {
    background-color: #ED988D;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color4-shoe {
    background-color: #D16985;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.newarr-colors .color4-top {
    background-color: #edceff;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.trending {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -21%);
    z-index: 1;

}

.trending span {
    color: #3a4ee5;
    font-size: 11px;
    background-color: #f1f4f7;
}

.new {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -21%);
    z-index: 1;
}



.new span {
    color: red;
    font-size: 11px;
    background-color: #f1f4f7;
}

.sale-position {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -21%);
    z-index: 1;
}



.sale-position span {
    color: #73dbcd;
    font-size: 11px;
    background-color: #f1f4f7;
}



.off-20 {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -21%);
    z-index: 1;
}



.off-20 span {
    font-size: 11px;
    background-color: #f1f4f7;
}

.icon-hover-newarrival {
    background-color: #f1f4f7;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 31%);
    opacity: 0;

    transition: all .5s;



}

.newarrival {
    height: 100%;
}

.newarrival:hover .icon-hover-newarrival {
    opacity: 1;
}



.icon-hover-newarrival .view-svg:hover svg path {
    fill: #3a4ee5;
}

.icon-hover-newarrival .compare:hover svg path {
    fill: #3a4ee5;
}

.icon-hover-newarrival .cart-svg:hover svg path {
    fill: #3a4ee5;
}



/* end new arrivals section */



/* start animation section */



.amimation-img img {
    width: 100%;
    height: 100%;
}

.animation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animation-header h3 {
    color: #313b50;
    font-weight: 700;
    font-size: 35px;
    transform: translateX(0);
    animation-name: anim-header;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}

.animation-header h4 {
    font-size: 68px;
    font-weight: 600;
    color: #3a4ee5;
    transform: translateX(0);
    animation-name: anim-header;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.animation-det span {
    font-size: 20px;
    font-weight: 600;
    transform: translateY(0);
    animation-name: anim-det;

    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.animation-det p {
    color: #777;
    font-size: 14px;
    transform: translateY(0);
    animation-name: anim-det;

    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.animation-btn {
    transform: translateY(0);
    animation-name: anim-btn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.animation-btn a {
    text-decoration: none;
    color: #313b50;
    background-color: #ffd783;
    font-size: 14px;
    transition: all .6s;



}

.animation-btn a:hover {
    background-color: #3a4ee5;
    color: #fff;
}

@keyframes anim-header {
    from {
        transform: translateX(150%);
        opacity: 0;
    }

    to {
        transform: translateX(-50%);
        opacity: 1;
    }

}

@keyframes anim-det {

    from {
        transform: translateY(500%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes anim-btn {
    from {
        transform: translateY(500%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (min-width:992px) and (max-width:1399px) {
    .animation-header h3 {
        font-size: 30px;

    }

    .animation-header h4 {
        font-size: 40px;

    }

    @keyframes anim-btn {
        from {
            transform: translateY(500%);
            opacity: 0;
        }

        to {
            transform: translateY(-80%);
            opacity: 1;
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .animation-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .animation-header h3 {
        font-size: 30px;

    }

    .animation-header h4 {
        font-size: 40px;

    }

    @keyframes anim-header {
        from {
            transform: translateX(150%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }

    }



}


@media screen and (max-width:767px) {
    .animation-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .animation-header h3 {
        font-size: 25px;

    }

    .animation-header h4 {
        font-size: 30px;

    }

    @keyframes anim-header {
        from {
            transform: translateX(150%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }

    }
}

@media screen and (max-width:450px) {
    .animation-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .animation-header h3 {
        font-size: 20px;

    }

    .animation-header h4 {
        font-size: 25px;

    }

    .animation-det span {
        font-size: 17px;
    }

    @keyframes anim-header {
        from {
            transform: translateX(150%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }

    }
}


/* end animation section */



/* start categories-cards */

.category-card-content img {
    width: 70px;
    height: 70px;
}

.category-card {
    background-color: #e1e5e9;

}

.category-card-content h4 {
    font-size: 18px;
    font-weight: 700;
    color: #313b50;
}

.category-card-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #313b50;
}

.category-card-content h3 {
    font-size: 14px;
    color: #313b50;
}




.sale-category {
    background-color: #313b50;
    color: #fff;
    font-size: 14px;

}

.background-card {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #313b50;
    opacity: 0.05;
    z-index: 0;
}


.category-card:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.category-card:hover::after {
    opacity: 0;

}


/* end categories-cards */